<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288735027496-lp34l4coqoj0uk0p4cj58slbdbdcvgeh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288735027496-lp34l4coqoj0uk0p4cj58slbdbdcvgeh</string>
	<key>API_KEY</key>
	<string>AIzaSyB_BiqytgZce2se02v9hIwS6FJqr20EEUc</string>
	<key>GCM_SENDER_ID</key>
	<string>288735027496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ikepon413-icloud.co.jp.MinDateApp</string>
	<key>PROJECT_ID</key>
	<string>datemin-8cda1</string>
	<key>STORAGE_BUCKET</key>
	<string>datemin-8cda1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288735027496:ios:163dd1db9a93841702301d</string>
	<key>DATABASE_URL</key>
	<string>https://datemin-8cda1.firebaseio.com</string>
</dict>
</plist>